name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install-dependencies
      run: sudo apt-get install --no-install-recommends -y gdb
    - name: build
      run: ./build.sh
